/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

}
.blue {
  width: auto;
  height: 400px;
  position: relative;
  background-color: #3E6386;


}




.phone {
  position:relative;
  margin-left: 300px;
  margin-top: -175px;
  width: 350px;
  height: 500px;
  content:url("../images/phones.png");




}
.content {

  position: relative;
  height:auto;
  width:500px;
  margin-left: 700px;
  margin-top: -500px;

}
.brand {
  position: relative;
  content: url("../images/brand.png");
  height:80px;
  width: 270px;
  position: relative;


}

.button {
  padding: 10px;
  position: relative;
  height: 35px;
  width: 100px;
  top: auto;
  right: auto;
  border: 0.5px solid #000000;
  border-radius: 5px;
  margin: -75px 0 0 350px;
  background-color:#6E91AF;
}
.home {
  margin-top: 5px;
  height: 25px;
  width: auto;
  content: url("../images/home.png");
  float:left;
}
.log-in {
  text-decoration-color: #EAEEF1;
  padding-left: 10px;
  margin-left: 25px;
  font-size: 20px;
  margin-top: -15px;

}
.text {
  height: 270px;
  position: relative;
  margin-top: 30px;
  background-image: url("../images/frame.png");
}
.div-text{
  position:relative;
  padding: 30px;

}
.apple {
  position: relative;
  content:
  content: url("../images/badge-iphone.png");
}
.android{
  position: relative;
  margin-left: 200px;

content: url("../images/badge-androind.png");

}
.bottom {
  width: 700px;
  position: relative;
  margin-top: 200px;
  margin-left: -350px;
  margin-right: 150px;
  text-align: center;
  orientation: horizontal;
}
.span {
  margin-left:10px;
}
.bottom-text {
  text-transform: uppercase;
}


}
